openapi: 3.1.0
info:
  title: MyVault Flag API
  version: 1.0.0
  description: >
    API contract used by the MyVault Android app to perform an encrypted
    handshake and retrieve an encrypted flag.
servers:
  - url: https://vault.u18-2026.haruulzangi.mn
paths:
  /api/flag:
    post:
      operationId: retrieveEncryptedFlag
      summary: Retrieve an encrypted flag
      description: >
        The Android app generates a fresh attested RSA key pair in Android
        KeyStore and sends the DER-encoded public key, the Android key
        attestation certificate chain, and a fresh nonce used as the
        attestation challenge. The server returns an AES session key encrypted
        to that public key and an AES-GCM encrypted flag.
        Protocol note: this contract assumes handshake v1 and
        RSA/ECB/OAEPWithSHA-256AndMGF1Padding for the encrypted session key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlagHandshakeRequest"
            examples:
              handshake:
                summary: Handshake request
                value:
                  clientNonce: base64-encoded-32-byte-nonce
                  publicKey: base64-encoded-x509-subject-public-key-info
                  attestationCertificates:
                    - base64-encoded-der-attestation-leaf-certificate
                    - base64-encoded-der-attestation-issuer-certificate
      responses:
        "200":
          description: Encrypted flag payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptedFlagResponse"
              examples:
                encryptedFlag:
                  summary: Encrypted flag response
                  value:
                    encryptedSessionKey: base64-rsa-oaep-encrypted-aes-key
                    flagIv: base64-encoded-aes-gcm-iv
                    encryptedFlag: base64-encoded-aes-gcm-ciphertext-with-tag
                    aad: base64-encoded-cbor-client-nonce-blob
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Client or key attestation verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server failed to create encrypted flag response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    FlagHandshakeRequest:
      type: object
      required:
        - clientNonce
        - publicKey
        - attestationCertificates
      properties:
        clientNonce:
          type: string
          contentEncoding: base64
          description: >
            Fresh 32-byte nonce generated by the Android client for each
            request. The server should bind the encrypted response to this
            nonce by using the CBOR-encoded nonce blob as AES-GCM additional
            authenticated data, so captured responses cannot be replayed
            against unrelated client requests.
        publicKey:
          type: string
          contentEncoding: base64
          description: DER-encoded X.509 SubjectPublicKeyInfo RSA public key.
        attestationCertificates:
          type: array
          minItems: 1
          items:
            type: string
            contentEncoding: base64
          description: >
            DER-encoded Android key attestation certificate chain, leaf first.
            The leaf certificate public key must match `publicKey`, the
            Android attestation challenge must match `clientNonce`, and the
            attested key must be generated by AndroidKeyStore for RSA decrypt.
    EncryptedFlagResponse:
      type: object
      required:
        - encryptedSessionKey
        - flagIv
        - encryptedFlag
      properties:
        encryptedSessionKey:
          type: string
          contentEncoding: base64
          description: AES session key encrypted with the client's RSA public key using RSA-OAEP SHA-256.
        flagIv:
          type: string
          contentEncoding: base64
          description: IV used for AES-GCM flag encryption.
        encryptedFlag:
          type: string
          contentEncoding: base64
          description: AES-GCM ciphertext with the authentication tag appended.
        aad:
          type: string
          contentEncoding: base64
          description: >
            AES-GCM additional authenticated data. This must be the base64
            encoding of a CBOR byte string whose payload is exactly the raw
            32-byte client nonce from the request. For a 32-byte nonce, the AAD
            bytes are the CBOR byte-string header `0x58 0x20` followed by the
            32 nonce bytes.
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
