CONFIG_IDF_TARGET="esp32c3"

CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_SOFTAP_BEACON_MAX_LEN=752
# CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT is not set

# CONFIG_ESP_NETIF_L2_TAP is not set
# CONFIG_ESP_NETIF_BRIDGE_EN is not set
# CONFIG_LWIP_IP_FORWARD is not set

CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_ESP_TASK_WDT_INIT=n

CONFIG_PARTITION_TABLE_OFFSET=0x10000

CONFIG_SECURE_FLASH_ENC_ENABLED=y
CONFIG_SECURE_FLASH_ENCRYPTION_KEY_SOURCE_EFUSES=y
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_DEVELOPMENT=y
CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_ENC=y
CONFIG_SECURE_FLASH_ENCRYPT_ONLY_IMAGE_LEN_IN_APP_PART=y
CONFIG_SECURE_FLASH_CHECK_ENC_EN_IN_APP=y
# CONFIG_NVS_ENCRYPTION is not set
